.pageContainer[id='aboutpage'] {
  transform: translateY(10%);
}

.sliderContainer {
  width: 50%;
  max-width: 90vh;
  margin: 0 auto;
}

.aboutSlide {
  width: 100%;
  height: 80vh;
  padding-bottom: 5vh;
}

.slideimg {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid black;
}

.slick-slide.slick-current {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before {
  font-family: 'Celandine', sans-serif;
  font-size: 6vh;
  content: '<';
  color: black;
}

.slick-next:before {
  font-family: 'Celandine', sans-serif;
  font-size: 6vh;
  content: '>';
  color: black;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .slick-prev {
    left: -5vh;
  }
  .slick-next {
    right: -5vh;
  }
  .sliderContainer {
    width: 70%;
    transform: translateY(50%);
  }
  .aboutSlide {
    width: 80vh;
    height: 40vh;
  }
  .slideimg {
    max-width: 95%;
    height: 100%;
    object-fit: contain;
  }
}
