.pageContainer[id='zinepage'] {
  transform: translateY(5%);
}

/* .pageContainer#zinepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.carousel-root {
  max-width: 80%;
  max-height: 100vh;
}

.react-responsive-carousel .carousel .slide {
  max-width: 100%;
  height: auto;
}

.carousel-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .slider-wrapper {
  width: 70vh;
  height: 100%;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  padding: 2vh;
  border: 1vh solid black;
}

.carousel-arrow {
  cursor: pointer;
  font-size: 8vh;
}

.carousel-arrow-left {
  padding-right: 2vh;
}

.carousel-arrow-right {
  padding-left: 2vh;
}

.carousel-arrow:hover {
  color: green;
}

.arrow-disabled {
  color: grey;
}

.arrow-disabled:hover {
  cursor: not-allowed;
  color: grey;
}

/* .sliderContainer {
  width: 50%;
  max-width: 100vh;
  margin: 0 auto;
} */

/* .zineSlide {
  min-width: 60vh;
  max-width: 60vh;
  min-height: 80vh;
  max-height: 80vh;
  object-fit: contain;
}

.slideimg {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid black;
}

.slick-slide.slick-current {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  z-index: 9998;
}

.slick-next {
  z-index: 9998;
}

.slick-prev:before {
  font-family: 'Celandine', sans-serif;
  content: '<';
  color: black;
}

.slick-next:before {
  font-family: 'Celandine', sans-serif;
  content: '>';
  color: black;
} */

/* @media screen and (min-width: 1400px) {
  .slick-prev:before {
    font-size: 6vh;
  }
  .slick-next:before {
    font-size: 6vh;
  }
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
  .slick-prev:before {
    font-size: 10vw;
  }
  .slick-next:before {
    font-size: 10vw;
  }

  .slick-prev {
    transform: translateY(-150%);
    left: -18vh;
  }
  .slick-next {
    transform: translateY(-150%);
    right: -10vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) and (orientation: landscape) {
  .sliderContainer {
    width: 80%;
    max-width: 80vh;
  }
  .slick-prev:before {
    font-size: 10vw;
  }
  .slick-next:before {
    font-size: 10vw;
  }
  .slick-prev {
    top: 45%;
    left: -8vh;
  }
  .slick-next {
    top: 45%;
    right: -3vh;
  }
}

@media screen and (max-width: 1400px) and (orientation: portrait) {
  .pageContainer[id='zinepage'] {
    transform: translateY(-5%);
  }
  .slick-prev {
    left: -1vh;
  }
  .slick-next {
    right: -0.5vh;
  }
  .sliderContainer {
    width: 100%;
    max-width: 80vh;
    transform: translateY(25%);
  }
  .zineSlide {
    min-width: 40vh;
    max-width: 40vh;
    min-height: 60vh;
    max-height: 60vh;
    padding: 0vh 0vh 5vh 0vh;
  }
  .slideimg {
    max-width: 40vh;
    height: 60vh;
    object-fit: contain;
  }
  .slick-prev {
    top: auto;
    left: 10vh;
    bottom: 0vh;
    transform: translateY(0);
  }
  .slick-next {
    top: auto;
    right: 12vh;
    bottom: 0vh;
    transform: translateY(0);
  }
  .slick-prev:before {
    font-size: 8vh;
  }
  .slick-next:before {
    font-size: 8vh;
  }
}

@media screen and (max-width: 1400px) and (min-height: 1000px) and (max-height: 1400px) and (orientation: portrait) {
  .slick-prev {
    top: auto;
    left: 18vh;
    bottom: 0vh;
    transform: translateY(0);
  }
  .slick-next {
    top: auto;
    right: 20vh;
    bottom: 0vh;
    transform: translateY(0);
  }
}

@media screen and (max-height: 500px) and (min-width: 500px) and (max-width: 800px) and (orientation: landscape) {
  .sliderContainer {
    width: 90%;
  }
  .slick-slider.slick-initialized {
    padding: 0vh 1vh;
  }
  .slick-prev {
    transform: translateY(-150%);
    left: -10vh;
  }
  .slick-next {
    transform: translateY(-150%);
    right: -5vh;
  }
}

@media screen and (max-width: 500px) and (min-height: 500px) and (max-height: 800px) and (orientation: portrait) {
  .zineSlide {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 60vh;
    max-height: 60vh;
    object-fit: contain;
    padding: 0vh 1vh 5vh 0vh;
  }
  .slideimg {
    min-width: 80vw;
    max-width: 80vw;
    object-fit: contain;
  }
  .slick-prev {
    top: auto;
    left: 15vh;
    bottom: 0vh;
    transform: translateY(0);
  }
  .slick-next {
    top: auto;
    right: 16vh;
    bottom: 0vh;
    transform: translateY(0);
  }
} */

@media screen and (max-width: 1400px) and (orientation: portrait) {
  .pageContainer[id='zinepage'] {
    transform: translateY(25%);
  }
  .carousel-root {
    max-width: 100%;
    max-height: 100vh;
  }
  .carousel .slider-wrapper {
    width: 90vw;
    height: 100%;
  }
  .carousel-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel-arrow-left {
    order: 1;
    font-size: 8vh;
    transform: translate(-100%, 0%);
  }
  .carousel-arrow-right {
    order: 1;
    font-size: 8vh;
    transform: translate(100%, -100%);
  }
}
