.pageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -80%);
  transform: translate(-40%, -80%);
}

.sectionBox {
  background-color: white;
  border: 9px solid black;
  padding: 3vh;
  max-width: 50vh;
  text-align: center;
}

.sectionBox:hover {
  cursor: pointer;
  border-color: green;
}

.chartLine.vertical {
  width: 1vh;
  height: 15vh;
  background-color: black;
}

.chartLine.horizontal {
  width: 15vh;
  height: 1vh;
  background-color: black;
}