html {
  background-image: url('./assets/temp-bg.jpeg');
  background-size: cover;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

@font-face {
  font-family: 'Celandine';
  src: url('./fonts/ED-Celandine-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 6vh;
  font-family: 'Celandine', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3vh;
  }
}
