.mainChartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontalSection[id='topHor'] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalSection[id='bottomHor'] {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-end;
  transform: translateY(-77%);
}

.verticalSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  transform: translateY(calc(-28% - 1px));
}

.sectionBox[id='main1'] {
  padding: 7vh 0vh;
}

.sectionBox[id='main1']:hover {
  cursor: auto;
  border-color: black;
}

.sectionBox[id='main2'] {
  padding: 5vh;
}

.sectionBox[id='main3'] {
  padding: 5vh 10vh;
}

.sectionBox[id='main4'] {
  padding: 2vh 5vh;
  transform: translateX(50%);
}

.sectionBox[id='main5'] {
  transform: translateY(-50%);
  padding: 2vh 10vh;
  z-index: 9999;
}

.chartLine.vertical[id='mainVert1'] {
  height: 20vh;
}

.chartLine.horizontal[id='mainHor4'] {
  width: 40vh;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .pageContainer[id='main'] {
    transform: translate(0, 10%);
    padding-bottom: 10vh;

  }
  .horizontalSection[id='topHor'],
  .horizontalSection[id='bottomHor'] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    transform: translate(0);
  }
  .verticalSection {
    justify-content: center;
    align-items: center;
    align-self: center;
    transform: translate(0);
  }
  .chartLine.horizontal {
    width: 1vh;
    height: 10vh;
  }
  .sectionBox[id='main1'] {
    padding: 3vh 4vh;
  }
  .sectionBox[id='main2'] {
    padding: 3vh 5vh;
  }
  .sectionBox[id='main3'] {
    padding: 3vh 5vh;
  }
  .sectionBox[id='main4'] {
    padding: 4vh;
    transform: translate(0);
  }
  .sectionBox[id='main5'] {
    padding: 4vh;
    transform: translate(0);
  }
  .chartLine.vertical[id='mainVert1'],
  .chartLine.vertical[id='mainVert2'] {
    display: none;
  }
  .chartLine.horizontal[id='mainHor4'] {
    width: 1vh;
    height: 10vh;
  }
}
